:root {
	/* Colors: */
	--unnamed-color-705aaa: #705aaa;
	--unnamed-color-cbc8d4: #cbc8d4;
	--activestate_bg_2: #d8fcf7;
	--activestate_bg_1: #01f0d0;
	--unnamed-color-0bd984: #0bd984;
	--unnamed-color-072635: #072635;
	--unnamed-color-0c3d5d: #0c3d5d;
	--unnamed-color-084c77: #084c77;
	--unnamed-color-055a92: #055a92;
	--unnamed-color-006aac: #006aac;
	--unnamed-color-007bc7: #007bc7;
	--unnamed-color-707070: #707070;
	--unnamed-color-f6f6f6: #f6f6f6;
	--unnamed-color-ededed: #ededed;
	--unnamed-color-000000: #000000;
	--unnamed-color-878787: #878787;
	--unnamed-color-ffffff: #ffffff;
	--unnamed-color-ff6200: #ff6200;

	/* Font/text values */
	--unnamed-font-family-manrope: Manrope;
	--unnamed-font-style-normal: normal;
	--unnamed-font-weight-800: 800px;
	--unnamed-font-weight-normal: normal;
	--unnamed-font-weight-bold: bold;
	--unnamed-font-size-14: 14px;
	--unnamed-font-size-18: 18px;
	--unnamed-font-size-24: 24px;
	--unnamed-character-spacing-0: 0px;
	--unnamed-line-spacing-19: 19px;
	--unnamed-line-spacing-24: 24px;
	--unnamed-line-spacing-33: 33px;
	--unnamed-text-transform-titlecase: titlecase;
}

/* Character Styles */
.card-title-24pt {
	font-family: var(--unnamed-font-family-manrope);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-800);
	font-size: var(--unnamed-font-size-24);
	line-height: var(--unnamed-line-spacing-33);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
}
.inner-card-title-18pt {
	font-family: var(--unnamed-font-family-manrope);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-18);
	line-height: var(--unnamed-line-spacing-24);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-transform: var(--unnamed-text-transform-titlecase);
}
.body-emphasized-14pt {
	font-family: var(--unnamed-font-family-manrope);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-14);
	line-height: var(--unnamed-line-spacing-19);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
}
.body-secondary-info-14pt {
	font-family: var(--unnamed-font-family-manrope);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-14);
	line-height: var(--unnamed-line-spacing-19);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-707070);
}
.body-regular-14 {
	font-family: var(--unnamed-font-family-manrope);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-14);
	line-height: var(--unnamed-line-spacing-19);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
}

.manrope {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}
/* general */
html {
	width: 1600px;
	height: 1195px;
	background: #f6f7f8 0% 0% no-repeat padding-box;
	opacity: 1;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

/* nav */
nav {
	width: 1564px;
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 18px;
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 70px;
	opacity: 1;
}

.logo {
	width: 211px;
	height: 48px;
	margin-left: 32px;
	background: transparent url("Images/TestLogo.svg") 0% 0% no-repeat padding-box;
	opacity: 1;
}

.nav-links {
	width: 663px;
	height: 63px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	opacity: 1;
	list-style: none;
}

.nav-links li {
	width: 88px;
	display: flex;
	align-items: center;
	opacity: 1;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
		var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
}

.overview {
	width: 63px;
	height: 19px;
}

.nav-item img {
	margin-right: 9px;
	opacity: 1;
}

.house {
	background: transparent url("Images/home_FILL0_wght300_GRAD0_opsz24.svg") 0%
		0% no-repeat padding-box;
}

.patients {
	width: 57px;
	height: 19px;
}

.person {
	width: 24px;
	height: 17px;
	background: transparent url("Images/group_FILL0_wght300_GRAD0_opsz24.svg") 0%
		0% no-repeat padding-box;
}

.schedule {
	width: 64px;
	height: 19px;
}

.calendar {
	background: transparent
		url("Images/calendar_today_FILL0_wght300_GRAD0_opsz24.svg") 0% 0% no-repeat
		padding-box;
}

.message {
	width: 61px;
	height: 19px;
}

.chatbubble {
	background: transparent
		url("Images/chat_bubble_FILL0_wght300_GRAD0_opsz24.svg") 0% 0% no-repeat
		padding-box;
}

.transactions {
	width: 89px;
	height: 19px;
}

.creditcard {
	background: transparent
		url("Images/credit_card_FILL0_wght300_GRAD0_opsz24.svg") 0% 0% no-repeat
		padding-box;
}

.nav-profile {
	width: 241px;
	height: 44px;
	opacity: 1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-right: 32px;
}

.drimage {
	width: 44px;
	height: 44px;
	background: transparent url("Images/Navprofilepic.png") 0% 0% no-repeat
		padding-box;
	opacity: 1;
	margin-right: 8px;
}

.drinfo {
	height: 38px;
	opacity: 1;
	margin-right: 11px;
}

.drinfo p {
	margin: 0;
}

.drname {
	width: 119px;
	height: 19px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
		var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
}

.specialty {
	height: 19px;
	width: 130px;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-707070);
	text-align: left;
	font: normal normal normal 14px/19px Manrope;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
}

.divider {
	width: 1px;
	height: 44px;
	background: var(--unnamed-color-ededed) 0% 0% no-repeat padding-box;
	background: #ededed 0% 0% no-repeat padding-box;
	opacity: 1;
	margin-right: 12px;
}

.settingsicon {
	width: 19px;
	height: 20px;
	background: transparent url("Images/Settings.png") 0% 0% no-repeat padding-box;
	opacity: 1;
	margin-right: 12px;
}

.moreicon {
	width: 4px;
	height: 18px;
	background: transparent url("Images/more.png") 0% 0% no-repeat padding-box;
	opacity: 1;
}

/*patient panel */
.patientpanel {
	width: 367px;
	height: 1054px;
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 16px;
	opacity: 1;
	margin-top: 32px;
	overflow-y: scroll;
}

.panelheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 800;
}

.panelheadertext {
	width: 100px;
	height: 33px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
		var(--unnamed-font-size-24) / var(--unnamed-line-spacing-33)
		var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal 800 24px/33px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
	margin-left: 20px;
}

.searchIcon {
	width: 18px;
	height: 18px;
	background: transparent url("Images/searchIcon.png") 0% 0% no-repeat
		padding-box;
	opacity: 1;
	margin-right: 20px;
}

.patientdetails {
	display: flex;
}

.listpatient {
	width: 317px;
	height: 48px;
	display: flex;
	align-items: center;
	opacity: 1;
	margin: 32px 0 0 20px;
}

.patientlistinfo {
	width: 97px;
	height: 42px;
	opacity: 1;
	margin-right: 142px;
}

.patientlistinfo p {
	margin: 0;
}

.patientname {
	width: 97px;
	height: 19px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
		var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
	text-wrap: nowrap;
}

.patientagegender {
	width: 66px;
	height: 19px;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-707070);
	text-align: left;
	font: normal normal normal 14px/19px Manrope;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
	display: flex;
	text-wrap: nowrap;
}

.panelprofileimg {
	width: 48px;
	height: 48px;
	opacity: 1;
	margin-right: 12px;
}

.morehorizontal {
	width: 18px;
	height: 4px;
	background: transparent url("Images/moreHorizontal.png") 0% 0% no-repeat
		padding-box;
	opacity: 1;
}

.patientpanel::-webkit-scrollbar {
	width: 6px;
	border-radius: 3px;
	opacity: 1;
}

.patientpanel::-webkit-scrollbar-thumb {
	background: var(--unnamed-color-072635) 0% 0% no-repeat padding-box;
	background: #072635 0% 0% no-repeat padding-box;
}

.patientpanel::-webkit-scrollbar-track {
	width: 6px;
	height: 941px;
	background: #e3e4e6 0% 0% no-repeat padding-box;
	border-radius: 3px;
	opacity: 1;
}

/* diagnosis history block */
.diagnosishistory {
	width: 766px;
	height: 673px;
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 16px;
	opacity: 1;
	margin: 32px;
}

.diagnosishistory h2 {
	margin: 20px;
	padding-top: 20px;
}

.bphistory {
	width: 726px;
	height: 298px;
	background: #f4f0fe 0% 0% no-repeat padding-box;
	border-radius: 12px;
	opacity: 1;
	display: flex;
	margin-left: 20px;
}

.bpchart {
	width: 447px;
	height: 205px;
	opacity: 1;
	margin-right: 48px;
}

.bpheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 431px;
}

.chartfilter p {
	width: 92px;
	height: 19px;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: right;
	font: normal normal normal 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
}

.chartfilter img {
	width: 11px;
	height: 6px;
	background: transparent url("./Images/expand_more.svg") 0% 0% no-repeat
		padding-box;
	opacity: 1;
	margin-left: 16px;
}

.chartfilter {
	display: flex;
	width: 119px;
	height: 19px;
	opacity: 1;
	align-items: center;
}

#linechart {
	margin-left: 16px;
}

.bpchart h3 {
	padding: 16px 0 20px 16px;
	margin: 0px;
}

.legend {
	width: 149px;
	height: 84px;
	opacity: 1;
}

.systolic {
	width: 149px;
	height: 84px;
	opacity: 1;
	margin-top: 16px;
}

.systoliclegend {
	display: flex;
	align-items: center;
	justify-content: left;
	margin-bottom: 8px;
}

.systoliclegend h4 {
	width: 55px;
	height: 19px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
		var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
	margin: 0;
}

.systolicdot {
	width: 14px;
	height: 14px;
	border: 1px solid var(--unnamed-color-ffffff);
	background: #e66fd2 0% 0% no-repeat padding-box;
	border: 1px solid #ffffff;
	opacity: 1;
	border-radius: 50%;
	margin-right: 4px;
}

.systolicrate {
	width: 38px;
	height: 30px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		22px/30px var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 22px/30px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
}

.systolicaverage {
	width: 131px;
	height: 19px;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal normal 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
	margin: 8px 0 16px 0;
	text-wrap: nowrap;
}

.arrowup {
	margin-right: 8px;
}

.bpdivider {
	width: 208px;
	height: 1px;
	background: var(--unnamed-color-cbc8d4) 0% 0% no-repeat padding-box;
	background: #cbc8d4 0% 0% no-repeat padding-box;
	opacity: 1;
	margin: 16px 0;
}

.diastolic {
	width: 149px;
	height: 84px;
	opacity: 1;
}

.diastoliclegend {
	display: flex;
	align-items: center;
	justify-content: left;
	margin-bottom: 8px;
}

.diastolicdot {
	width: 14px;
	height: 14px;
	border: 1px solid var(--unnamed-color-ffffff);
	background: #8c6fe6 0% 0% no-repeat padding-box;
	border: 1px solid #ffffff;
	opacity: 1;
	border-radius: 50%;
	margin-right: 4px;
}

.diastolic h4 {
	width: 55px;
	height: 19px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
		var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
	margin: 0;
}

.diastolicrate {
	width: 38px;
	height: 30px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		22px/30px var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal bold 22px/30px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
}

.diastolicaverage {
	width: 131px;
	height: 19px;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal normal 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
	margin: 8px 0 16px 0;
	text-wrap: nowrap;
}

.patientstatblocks {
	display: flex;
}

.statblock {
	width: 228px;
	height: 242px;
	opacity: 1;
	margin: 20px 0 0 20px;
}

.statblock div {
	border-radius: 12px;
}

.respiratory {
	background: #e0f3fa 0% 0% no-repeat padding-box;
}

.temperature {
	background: #ffe6e9 0% 0% no-repeat padding-box;
}

.heartRate {
	background: #ffe6f1 0% 0% no-repeat padding-box;
}

.statblockimage {
	margin: 16px 0 0 16px;
}

.statblockname {
	width: 125px;
	height: 22px;
	font: var(--unnamed-font-style-normal) normal medium 16px/22px
		var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal medium 16px/22px Manrope;
	letter-spacing: 0px;
	color: #072635;
	text-transform: capitalize;
	opacity: 1;
	font-weight: bold;
	margin-left: 16px;
}

.statblockvalue {
	width: 109px;
	height: 41px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
		30px/41px var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal 800 30px/41px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
	text-wrap: nowrap;
	margin: 0 0 17px 16px;
}

.statblocklevel {
	margin: 0 0 0 16px;
	padding-bottom: 16px;
}

.diagnosticlist {
	width: 766px;
	height: 349px;
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 16px;
	opacity: 1;
	margin-left: 32px;
	overflow-y: scroll;
}

.diagnosticlist::-webkit-scrollbar {
	width: 6px;
	border-radius: 3px;
	opacity: 1;
}

.diagnosticlist::-webkit-scrollbar-thumb {
	background: var(--unnamed-color-072635) 0% 0% no-repeat padding-box;
	background: #072635 0% 0% no-repeat padding-box;
}

.diagnosticlist::-webkit-scrollbar-track {
	width: 6px;
	height: 941px;
	background: #e3e4e6 0% 0% no-repeat padding-box;
	border-radius: 3px;
	opacity: 1;
}

.diagnosticlist h2 {
	width: 176px;
	height: 33px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
		var(--unnamed-font-size-24) / var(--unnamed-line-spacing-33)
		var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal 800 24px/33px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
	margin: 0 0 40px 20px;
	padding-top: 20px;
	text-wrap: nowrap;
}

.listheader {
	display: flex;
	align-items: center;
	margin: 0 0 0 20px;
	width: 726px;
	height: 48px;
	background: #f6f7f8 0% 0% no-repeat padding-box;
	border-radius: 24px;
	opacity: 1;
}

.headername {
	width: 129px;
	margin: 0 104px 0 36px;
	font-weight: bold;
}

.headerdesc {
	width: 287px;
	margin-right: 34px;
	font-weight: bold;
}

.headerstatus {
	width: 79px;
	font-weight: bold;
}

.condition {
	display: flex;
	align-items: center;
	margin: 0 0 0 20px;
	width: 723px;
	height: 59px;
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	opacity: 1;
}

.conditionname {
	width: 129px;
	margin: 0 104px 0 36px;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal normal 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
	font-weight: 500;
}

.conditiondescription {
	width: 287px;
	margin-right: 34px;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal normal 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
	font-weight: 500;
}

.conditionstatus {
	width: 79px;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-072635);
	text-align: left;
	font: normal normal normal 14px/19px Manrope;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
	font-weight: 500;
}
